/* uses MUI grid but needs spacing on the sides to be centered */
.main-content {
    /* centering content with a width of 600px */
    margin: 0 auto;
    max-width: 800px;
    padding: 0 24px 40px 24px;
    align-self: center;
    justify-content: center;


}

.rightFloat {
    float: right;
}

.grid-container {
    margin-left: 0 !important;
    margin-right: 0 !important;

}

.following-feed {
    margin-bottom: 50px;
}
