.overlay {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
}

  .overlay-image {
    max-width: 90%;
    max-height: 90%;
    width: 50%;
    object-fit: contain;
    cursor: pointer;
}
